* {
    margin: 0;
    padding: 0;
}

#container {
    width: 350px;
    height: 350px;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;  
    margin-top: 100px;
}